header{
    background-color: #f5c8f5;
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 500px;
    
    
}

li{
    display: inline;

}

h1{
    display: flex;
    justify-content: center;
}

h2 {
    color: grey; 
    display: flex;
    justify-content: center;
}

img{
    height: auto;
    width: 1346px;
}

image{
    align-items: center;
}

.galeria-imagens {
 
}

h4{
    color: grey; 
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #f5c8f5; 
    height: 100px;
    padding: 20px;
    justify-content: center;
}

