header{
    background-color: #E3916E;
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 500px;
    
    
}

li{
    display: inline;

}

h1{
    display: flex;
    justify-content: center;
}

h2 {
    color: grey; 
    display: flex;
    justify-content: center;
}

.medium-img {
    width: 200px;
    height: auto;
}